@charset "utf-8";

/* sm: (min-width: 576px)
md: (min-width: 768px)
lg: (min-width: 992px)
xl: (min-width: 1200px)
xxl: (min-width: 1400px) */

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #333;
    letter-spacing: .05em;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}
main {
    display: block;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
}
th {
    font-weight: normal;
}

body {
    min-height: 100vh;
    background-image: url(01FR043-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}
.wrapper {
    /* background-image: url(01FR043-full.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.3; */
    max-width: 960px;
    min-height: calc(100vh - 64px);
    margin: 0 auto;
}
.header {
    position: fixed;
    z-index: 99;
	top: 0;
    left: 50%;
	transform: translateX(-50%);
    width: 100%;
    max-width: 960px;
    padding: 16px 0;
    text-align: center;
    background: #e66;
}
.title {
    margin: 0;
    font-size: 1rem;
}
.title_text {
    display: block;
    width: 100%;
    height: 100%;
}
.main {
    margin-top: 32px;
}
.pulldown {
    margin: 0 auto;
}
.btn {

}