<!doctype html>
{% load static %}

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <meta name="description" content="LoL Esportsのレーダーチャートを生成します">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'radar/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/micromodal/dist/micromodal.min.js" defer></script>
    <script src="{% static 'radar/script.js' %}" defer></script>

    <title>{% block title %}LoL Esports RadarChart Generator{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <h1 class="title"><a href="{% url 'radar:index' %}" class="title__text">LoL Esports RadarChart Generator</a></h1>
        </header>
        <main class="main">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer">
            <a href="{% url 'radar:index' %}" class="footer__text">Back to Home</a>
        </footer>
    </div>
</body>

</html>