{% extends 'radar/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'radar:index' %}" method="POST">
        {% csrf_token %}
        <!-- <table class="choice_table">
            <tr>
                <th><label>{{ form.region_choice.label }}</label></th>
                <td>{{ form.region_choice }}</td>
            </tr>
            <tr>
                <th>{{ form.season_choice.label }}</th>
                <td>{{ form.season_choice }}</td>
            </tr>
            <tr>
                <th>{{ form.position_choice.label }}</th>
                <td>{{ form.position_choice }}</td>
            </tr>
            <tr>
                <th>{{ form.min_games.label }}</th>
                <td>{{ form.min_games }}</td>
            </tr>
            <tr>
                <th></th>
                <td><button type="submit" name="generate", id="btn" class="btn">Generate</button></td>
            </tr>
        </table> -->
        <!-- <p class="errorlist">{{ form.season_choice.errors }}</p> -->
        <!-- <p id="reset">reset</p> -->
        <!-- <table>
            <tr><td>{{ forms.ParameterForm.region_choice.label }}</td><td>{{ forms.ParameterForm.region_choice }}</td></tr>
            <tr><td>{{ forms.season_choice.label }}</td><td>{{ forms.season_choice }}</td></tr>
            <tr><td>{{ forms.min_games.label }}</td><td>{{ forms.min_games }}</td></tr>
            <tr><td></td><td><input type='submit' value="click"></td></tr>
        </table> -->
        <table>{{ form.as_table }}</table>
        
        <button type="submit" name="generate", id="btn" class="btn">Generate</button>
        <!-- <input type="reset" value="リセット"> -->
    </form>
    <button type="reset" class="btn" onclick="location.href=''">Reset</button>
    <!-- {% if form.errors %}
        <ul>
            {% for error in form.season_choice.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            <li><button type="reset">Reset</button></li>
        </ul>
    {% endif %} -->
{% endblock %}
    <!-- <img id="frame" alt="" src="{% static 'radar/01FR043-full.png' %}"> -->
    <!-- <img id="frame" src="{% static 'radar/test_image.png' %}"> -->
    onclick="location.href='{% url 'radar:index' %}'"