{% extends 'radar/base.html' %}
{% load static %}
{% block content %}
    <form action="{% url 'radar:index' %}" method="POST" class="form">
        {% csrf_token %}
        <div class="form__inner">
            <table class="pulldown">{{ form.as_table }}</table>
            <button type="submit" name="generate" id="btn" class="btn">Generate</button>
            <p class="form__note">It takes about 1 minute.</p>
        </div>
    </form>
    <section class="sample">
        <h2 class="sample__title">Sample Image</h2>
        <div class="sample__img">
            <img src="{% static 'radar/images/radar_image_sample.png' %}" alt="sample-image" class="sample__sample-image">
        </div>
    </section>
    <section class="info">
        <h2 class="info__title">calculated from</h2>
        <ul class="info__text">
            <li>LCK 2023 Spring, Summer Season</li>
            <li>LEC 2023 Winter, Spring, Summer Season</li>
            <li>LJL 2023 Spring, Summer Season</li>
            <li class="info__github-link"><a href="#">View code on github</a></li>
        </ul>
    </section>
{% endblock %}