<!doctype html>
{% load static %}

<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'radar/style.css' %}">
    
    <title>{{ title }}</title>
</head>

<body>
    <div>
        <!-- <form action="{% url 'radar:index' %}" method="post">
            {% csrf_token %}
            <table>
                <tr><td>{{ forms.region_choice.label }}</td><td>{{ forms.region_choice }}</td></tr>
                <tr><td>{{ forms.season_choice.label }}</td><td>{{ forms.season_choice }}</td></tr>
                <tr><td>{{ forms.min_games.label }}</td><td>{{ forms.min_games }}</td></tr>
                <tr><td></td><td><input type='submit' value="click"></td></tr>
            </table>
        </form> -->
        <form action="{% url 'radar:index' %}" method="POST">
            {% csrf_token %}
            <table class="choice_table">
                <tr>
                    <th>{{ form.region_choice.label }}</th>
                    <td>{{ form.region_choice }}</td>
                </tr>
                <tr>
                    <th>{{ form.season_choice.label }}</th>
                    <td>{{ form.season_choice }}</td>
                </tr>
                <tr>
                    <th>{{ form.min_games.label }}</th>
                    <td>{{ form.min_games }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td><button type="submit" name="generate", id="btn" class="btn">作成</button></td>
                </tr>
            </table>
            <!-- <p class="errorlist">{{ form.season_choice.errors }}</p> -->
            <p id="reset">reset</p>
            <!-- <table>
                <tr><td>{{ forms.ParameterForm.region_choice.label }}</td><td>{{ forms.ParameterForm.region_choice }}</td></tr>
                <tr><td>{{ forms.season_choice.label }}</td><td>{{ forms.season_choice }}</td></tr>
                <tr><td>{{ forms.min_games.label }}</td><td>{{ forms.min_games }}</td></tr>
                <tr><td></td><td><input type='submit' value="click"></td></tr>
            </table> -->
            <!-- {{ form.as_ul }} -->
            
            <!-- <button type="submit" name="generate", id="btn" class="btn">作成</button> -->
        </form>
        {% if form.errors %}
        <ul>
            {% for error in form.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <img id="frame" src="{% static 'radar/01FR043-full.png' %}">
        <!-- <img id="frame" src="{% static 'radar/test_image.png' %}"> -->
    </div>
    <script src="{% static 'radar/script.js' %}"></script>
</body>

</html>